<!DOCTYPE html>
<html lang="en">
        <% include ../partials/head %>
    
    <body>


<!--
==================================================
Header Section Start
================================================== -->
        <% include ../partials/nav %>
        

<!--=================================
=            404 Section            =
==================================-->
        <% include ../partials/404  %>

        <% include ../partials/contact %>

        <% include ../partials/footer  %>

        <% include ../partials/script %>
    </body>
</html>